*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #333;
}

body
{
    width: 100%;
    background-color: #F8F8F8;
}

header
{
    margin: 20px;
    min-height: 100px;
    border: 5px double #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title
{
    font-family: "Pinyon Script";
    font-weight: normal;
    font-size: 50px;
    height: 50px;
    color: #333;
}

main
{
    margin: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.introduction-main
{
    margin: 20px;
    margin-bottom: 40px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    border: double 5px #333;
    align-items: center;
    padding: 20px;
}

.contact-main
{
    margin: 20px;
    margin-bottom: 40px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    border: double 5px #333;
}

.row
{
    display: flex;
}

.page
{
    width: 33.33%;
    height: 200px;
    background-color: #F8F8F8;
    border: double #333 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes page-shadow
{
    from {box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);}
    to {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);}
}

.page:hover
{
    animation-name: page-shadow;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    cursor: pointer;
}

.page:active
{
    transform: translateY(2px);
}

.page-title
{
    font-family: "Pinyon Script";
    font-size: 35px;
    font-weight: normal;
}

.page-left
{
    margin: 0px 10px 20px 0px;
}

.page-center
{
    margin: 0px 10px 20px 10px;
}

.page-right
{
    margin: 0px 0px 20px 10px;
}

footer
{
    min-height: 100px;
    border: 5px double #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: -20px;
}

footer > ul
{
    display: flex;
}

footer > ul > li
{
    margin: 20px;
    font-family: "Pinyon Script";
    font-size: 20px;
    color: #333;
}

.headshot
{
    border-radius: 1000px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.introduction-par
{
    text-align: center;
    font-family: "Special Elite";
    font-size: 15pt;
    color: #333;
    padding: 10px 50px;
}

.contact-par
{
    text-align: center;
    font-family: "Special Elite";
    font-size: 15pt;
    color: #333;
    padding: 10px 50px;
}

.contact-image
{
    width: 600px;
    border-right: double 5px #333;
}

.contact-sub-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2
{
    font-family: "Pinyon Script";
    font-weight: normal;
    font-size: 35px;
    color: #333;
}

dl
{
    text-align: center;
    padding: 0 200px;
}

dt
{
    margin-top: 15px;
    font-family: "Pinyon Script";
    color: #333;
    font-size: 17pt;
    margin-bottom: 5px;
    cursor: pointer;
}

dd
{
    font-family: "Special Elite";
    color: #333;
    font-size: 15pt;
    cursor: pointer;
}